html {
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body {
    background-color: hsl(212, 45%, 89%);
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

section {
    background-color: hsl(0, 0%, 100%);
    width: 310px;
    min-height: 55vh;
    border-radius: 5%;
    padding: 15px 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    border-radius: 5%;
    width: 280px;
}

h1 {
    width: 300px;
    text-align: center;
    font-weight: 600;
}

p {
    color: hsl(220, 15%, 55%);
    font-weight: 400;
    width: 275px;
    width: 290px;
    text-align: center;
    padding-bottom: 25px;
}

.attribution {
    padding-top: 50px;
}

@media only screen and (min-width: 375px) {
    section {
        width: 340px;
    }
    img {
        width: 310px;
    }
    h1 {
        width: 300px;
        font-size: xx-large;
    }
    p {
        width: 205px;
    }
}