html {
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body {
    background-color: hsl(212, 45%, 89%);
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

section {
    background-color: hsl(0, 0%, 100%);
    width: 335px;
    min-height: 55vh;
    border-radius: 5%;
    padding: 15px 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    border-radius: 5%;
    width: 310px;
    height: 310px;
}

h1 {
    width: 290px;
    text-align: center;
    font-weight: 600;
    margin-bottom: 5px;
}

p {
    color: hsl(220, 15%, 55%);
    font-weight: 400;
    width: 275px;
    width: 260px;
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 5px;
}

.attribution {
    padding-top: 10px;
}

@media only screen and (max-width: 375px) {
    section {
        width: 325px;
        max-height: 65vh;
    }
    img {
        width: 295px;
    }
    p {
        width: 265px;
        padding-bottom: 5px;
    }
}